<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190844033452-mav4tqr8p60a0e2gsjqqlp0vdifq07ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190844033452-mav4tqr8p60a0e2gsjqqlp0vdifq07ml</string>
	<key>API_KEY</key>
	<string>AIzaSyCec8Qh2iW1a3jJli0NzqLB5YcqR38jeq4</string>
	<key>GCM_SENDER_ID</key>
	<string>190844033452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.NexSeedChat</string>
	<key>PROJECT_ID</key>
	<string>nexseedchat-24380</string>
	<key>STORAGE_BUCKET</key>
	<string>nexseedchat-24380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190844033452:ios:8798c9bcd1848e7c998209</string>
	<key>DATABASE_URL</key>
	<string>https://nexseedchat-24380.firebaseio.com</string>
</dict>
</plist>